<h1>Books</h1>
<% @books.each do |book| %>
  <table>
    <thead>
      <th>Title</th>
      <th>Body</th>
      <th></th>
    </thead>
    <tbody>
      <td>
        <span class="book-title"><%= book.title %></span>
      </td>
      <td>
        <span class="book-body"><%= book.body %></span>
      </td>
      <td>
        <%= link_to "Show", book_path(book.id) %>
        <%= link_to "Edit", edit_book_path(book.id) %>
        <%= link_to "Destroy", destroy_book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>
      </td>
    </tbody>
  </table>
<% end %>